.header{
  padding-top: 1.5rem; /*was 3rem*/
  background: #F9F9F9;
 /* position: sticky;
  top: 0;
  z-index: 100;*/
  .header__container{
    @extend .container;
    display: flex;
    color: red;
    background: #F9F9F9;
    justify-content: space-between;
    padding: 0rem 0 1.58rem 0; //1.58 + 0.69
    gap: 6.44rem;
    border-bottom: 2px solid #CBCBCB;
    .header__logo{
      display: flex;
      align-items: center;
      text-decoration: none;

      .header__logo-text{
        margin-left: 0.69rem;
        color: #6C5FBC;
        font-family: Poppins;
        font-size: 1.3235rem;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 1.72056rem */

      }
    }
  }
  .header__navigation{
    display: flex;
    align-items: center;
    flex: 1 auto;
    .header__navigation-list{
      display: flex;
      flex-direction: row;
      gap: 3.34288rem;
      .header__navigation-item{
        list-style: none;

      }
      .header__navigation-link{
        color: #606060;
        font-family: Inter;
        font-size: 1.11431rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 150% */
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
  .header__buttons{
    display: flex;
    /*margin: -0.56rem 0 -0.69rem 0 ;*/
    width: 14.555rem;
    gap: 0.55713rem;
    .header__button{
      display: flex;
      padding: 1.11431rem 1.67144rem;
      align-items: flex-start;
      border: 0;
      gap: 0.69644rem;

      color: #606060;
      font-family: Inter;
      background-color: inherit;
      font-size: 1.11431rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.67144rem; /* 150% */
      text-transform: capitalize;
    }
  }
}