@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  /*font-size: 1vw;*/
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
  /*  text-transform: uppercase;*/
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
}

.container, .customers .customers__container, .dashboards .dashboards__container, .dishes .dishes__container, .restaurants .restaurants__container, .download-app .download-app__container, .divider-section .divider-section__container, .get-started .get-started__container, .header .header__container {
  width: 78rem;
  margin: 0 auto;
  /*  border: 1px solid red;*/
}

.header {
  padding-top: 1.5rem; /*was 3rem*/
  background: #F9F9F9;
  /* position: sticky;
   top: 0;
   z-index: 100;*/
}
.header .header__container {
  display: flex;
  color: red;
  background: #F9F9F9;
  justify-content: space-between;
  padding: 0rem 0 1.58rem 0;
  gap: 6.44rem;
  border-bottom: 2px solid #CBCBCB;
}
.header .header__container .header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .header__container .header__logo .header__logo-text {
  margin-left: 0.69rem;
  color: #6C5FBC;
  font-family: Poppins;
  font-size: 1.3235rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.72056rem */
}
.header .header__navigation {
  display: flex;
  align-items: center;
  flex: 1 auto;
}
.header .header__navigation .header__navigation-list {
  display: flex;
  flex-direction: row;
  gap: 3.34288rem;
}
.header .header__navigation .header__navigation-list .header__navigation-item {
  list-style: none;
}
.header .header__navigation .header__navigation-list .header__navigation-link {
  color: #606060;
  font-family: Inter;
  font-size: 1.11431rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 150% */
  text-transform: capitalize;
  text-decoration: none;
}
.header .header__buttons {
  display: flex;
  /*margin: -0.56rem 0 -0.69rem 0 ;*/
  width: 14.555rem;
  gap: 0.55713rem;
}
.header .header__buttons .header__button {
  display: flex;
  padding: 1.11431rem 1.67144rem;
  align-items: flex-start;
  border: 0;
  gap: 0.69644rem;
  color: #606060;
  font-family: Inter;
  background-color: inherit;
  font-size: 1.11431rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67144rem; /* 150% */
  text-transform: capitalize;
}

.primary__button {
  display: flex;
  padding: 1.11431rem 1.67144rem;
  align-items: flex-start;
  border-radius: 1.11431rem;
  background: #6C5FBC;
  color: #F9F9F9;
  font-family: Inter;
  font-size: 1.11431rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67144rem; /* 150% */
  text-transform: capitalize;
  border: none;
}

.text-color-purple {
  color: #5C4EAE;
  font-family: Poppins;
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.1875rem;
}

.purple {
  color: #6C5FBC;
}

.gray {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 1.17538rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.52156rem;
}

.get-started .get-started__container {
  display: flex;
  justify-content: space-between;
}
.get-started .get-started__container .get-started__left-block {
  margin-top: 7.44rem;
  display: flex;
  flex-direction: column;
}
.get-started .get-started__container .get-started__left-block .get-started__badge {
  width: 15rem;
  position: relative;
  color: rgba(32, 31, 31, 0.2);
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.125rem */
  letter-spacing: 0.125rem;
  margin-bottom: 1.12rem;
  padding-left: 4.625rem; /*3.375 + 1.25*/
}
.get-started .get-started__container .get-started__left-block .get-started__badge:before {
  content: "";
  display: block;
  width: 3.375rem;
  height: 0.0825rem;
  left: 0;
  top: 50%;
  position: absolute;
  opacity: 0.2;
  background: #201F1F;
}
.get-started .get-started__container .get-started__left-block .get-started__title {
  width: 35.4375rem;
  color: #201F1F;
  font-family: Poppins;
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 5.625rem */
  letter-spacing: -0.1875rem;
  margin-bottom: 1rem;
}
.get-started .get-started__container .get-started__left-block .get-started__subtitle {
  width: 31.1875rem;
  color: #676767;
  text-align: justify;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  margin-bottom: 3.31rem;
}
.get-started .get-started__container .get-started__left-block .get-started__subtitle .get-started__subtitle_purple {
  opacity: 0.7;
  color: #6155AE;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}
.get-started .get-started__container .get-started__left-block .get-started__buttons {
  display: flex;
  gap: 1.12rem;
  margin-bottom: 2.06rem;
}
.get-started .get-started__container .get-started__left-block .get-started__buttons .primary__button {
  width: 9.75rem;
  color: #FFF;
  font-family: Poppins;
  font-size: 1.01694rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.01019rem;
}
.get-started .get-started__container .get-started__left-block .get-started__buttons .get-started__button {
  width: 6.875rem;
  border-radius: 0.77575rem;
  border: 1.5px solid #6C5FBC;
  color: #6C5FBC;
  font-family: Poppins;
  font-size: 1.01694rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.01019rem;
  text-transform: capitalize;
  background: #F9F9F9;
}
.get-started .get-started__container .get-started__left-block .get-started__ratings {
  display: flex;
  gap: 1.25rem;
}
.get-started .get-started__container .get-started__left-block .get-started__ratings .get-started__trustpilot {
  width: 7.68756rem;
  height: 1.88731rem;
}
.get-started .get-started__container .get-started__left-block .get-started__ratings .get-started__stars-container {
  display: flex;
  gap: 0.58rem;
  align-items: flex-end;
}
.get-started .get-started__container .get-started__left-block .get-started__ratings .get-started__stars-container .get-started__stars {
  width: 5.98675rem;
  height: 0.95519rem;
  align-self: center;
}
.get-started .get-started__container .get-started__left-block .get-started__ratings .get-started__stars-container .get-started__stars-number {
  color: #334155;
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  opacity: 0.7;
}
.get-started .get-started__container .get-started__right-block {
  display: flex;
}
.get-started .get-started__container .get-started__right-block .get-started__image {
  /*width: 37.705rem;
  height: 33.78563rem;*/
  margin-top: 5rem;
  margin-left: 3.06rem;
}

.divider-section {
  width: 90rem;
  background: #5C4EAE;
  /*padding-top: 5.31rem;*/
  margin: 5.31rem auto 0 auto;
}
.divider-section .divider-section__container {
  display: flex;
  padding: 3.56rem 15.56rem;
  position: relative;
  justify-content: center;
}
.divider-section .divider-section__container .divider-section__list {
  list-style: none;
  display: flex;
  /*  align-items: center;*/
}
.divider-section .divider-section__container .divider-section__list .divider-section__item {
  display: flex;
  /* width: 20.68375rem;*/
  width: 21.68375rem; /*+1*/
  /*     width: 329px;*/
  flex-direction: column;
  align-items: center;
  gap: 0.67rem;
}
.divider-section .divider-section__container .divider-section__list .divider-section__item:nth-child(1), .divider-section .divider-section__container .divider-section__list .divider-section__item:nth-child(2) {
  border-right: 1px solid rgba(197, 197, 197, 0.15);
}
.divider-section .divider-section__container .divider-section__list .divider-section__item .divider-section__title {
  color: #FFF;
  text-align: center;
  font-family: Public Sans;
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.375rem; /* 125% */
}
.divider-section .divider-section__container .divider-section__list .divider-section__item .divider-section__subtitle {
  width: 16.48125rem;
  color: #C5BFED;
  text-align: center;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35rem; /* 150% */
}
.divider-section .divider-section__container .divider-section__decor-left .divider-section__svg-left {
  position: absolute;
  width: auto;
  left: -96px;
  bottom: 0;
}
.divider-section .divider-section__container .divider-section__decor-right .divider-section__svg-right {
  position: absolute;
  width: auto;
  right: -90px;
  bottom: 0;
}

.download-app {
  padding-top: 7.47rem;
}
.download-app .download-app__container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 7.5rem;
  border-bottom: 2px solid #CBCBCB;
}
.download-app .download-app__container .download-app__content {
  display: flex;
  flex-direction: column;
  margin-top: 4.69rem;
  margin-left: 10rem;
}
.download-app .download-app__container .download-app__content .download-app__title {
  width: 34.98181rem;
  color: #18181B;
  font-family: Poppins;
  font-size: 3.18269rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.63738rem; /* 114.286% */
  text-transform: capitalize;
  margin-bottom: 3.94rem;
}
.download-app .download-app__container .download-app__content .download-app__list {
  display: flex;
  padding-left: 1.5rem;
  width: 34.23588rem;
  flex-direction: column;
  gap: 1.75rem;
  margin-bottom: 4.12rem;
}
.download-app .download-app__container .download-app__content .download-app__list .download-app__list-item {
  color: #676767;
  font-family: Inter;
  font-size: 1.27094rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.90638rem; /* 150% */
}
.download-app .download-app__container .download-app__content .download-app__button {
  width: 11.625rem;
  position: relative;
  display: flex;
  padding: 1.25rem 1.25rem 1.25rem 1.63rem;
  align-items: flex-start;
  border-radius: 0.91719rem;
  background: #6C5FBC;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.12888rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.41106rem; /* 125% */
  text-transform: capitalize;
  border: none;
}
.download-app .download-app__container .download-app__content .download-app__button:after {
  content: url("/style/components/download-app/Vector.svg");
  position: absolute;
  top: 45px;
  left: 165px;
}
.download-app .download-app__container .download-app__content .download-app__button svg {
  position: absolute;
  right: 27px;
  top: 17px;
}

.restaurants {
  padding-top: 6.25rem;
}
.restaurants .restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #CBCBCB;
  padding-bottom: 7.5rem;
}
.restaurants .restaurants__container .restaurants__title {
  color: #323142;
  font-family: Poppins;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.59738rem; /* 56.797% */
}
.restaurants .restaurants__container .restaurants__menu {
  padding-top: 5.36rem;
  display: flex;
  gap: 1.9rem;
  margin-bottom: 4.11rem;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item {
  width: 24.74953rem;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-image-container {
  display: flex;
  position: relative;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-image-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323142;
  opacity: 0.1;
  border-radius: 1.87644rem 1.87644rem 0rem 0rem;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-image-container img {
  border-radius: 1.87644rem 1.87644rem 0rem 0rem;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container {
  display: flex;
  padding: 0.68rem 1.67rem 1.06rem 2.13rem;
  flex-direction: column;
  border-bottom-left-radius: 1.87644rem;
  border-bottom-right-radius: 1.87644rem;
  background: #FFF;
  box-shadow: 5.94564px 71.34769px 35.67385px 0px rgba(229, 229, 229, 0.7);
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-badge .restaurants__item-badge-label {
  padding: 0.19rem 0.54rem;
  border-radius: 0.3375rem;
  width: 4.11725rem;
  font-family: Poppins;
  font-size: 0.7985rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-badge .restaurants__item-badge-label--healthy {
  background: #F7EDD0;
  color: #DAA31A;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-badge .restaurants__item-badge-label--trending {
  background: #F7C5BA;
  color: #FB471D;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-title {
  color: #323142;
  font-family: Poppins;
  font-size: 1.61163rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.61894rem; /* 162.5% */
  margin-bottom: -8px;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-footer .restaurants__item-time {
  width: 4.53275rem;
  color: #8E97A6;
  font-family: Manrope;
  font-size: 1.20875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.61163rem; /* 133.333% */
  margin-right: 0.4rem;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-footer .restaurants__item-rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-footer .restaurants__item-rating .restaurants__item-rating-number {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 1.20875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.61163rem; /* 133.333% */
}
.restaurants .restaurants__container .restaurants__menu .restaurants__item .restaurants__item-content-container .restaurants__item-footer .restaurants__item-rating-bookmark {
  margin-left: 9.78rem;
}
.restaurants .restaurants__container .restaurants__button {
  display: flex;
  align-self: flex-end;
}
.restaurants .restaurants__container .restaurants__button .restaurants__button-title {
  display: flex;
  align-items: center;
  color: #ACADB9;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.824rem; /* 225.921% */
  letter-spacing: -0.00625rem;
}
.restaurants .restaurants__container .restaurants__button .restaurants__button-title svg {
  margin-left: 0.8rem;
}

.dishes {
  padding-top: 6.25rem;
}
.dishes .dishes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #CBCBCB;
  padding-bottom: 7.5rem;
  border-bottom: 2px solid #CBCBCB;
}
.dishes .dishes__container .dishes__title {
  color: #323142;
  font-family: Poppins;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.59738rem; /* 56.797% */
}
.dishes .dishes__container .dishes__menu {
  padding-top: 4.74rem;
  display: flex;
  gap: 1.92rem;
  margin-bottom: 4.08rem;
}
.dishes .dishes__container .dishes__menu .dishes__item {
  width: 14.03925rem;
  border-radius: 2.16131rem;
  border: 1.441px solid #F4F4F6;
  background: #FFF;
  box-shadow: 6.84842px 82.18102px 41.09051px 0px rgba(229, 229, 229, 0.7);
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-image-container {
  display: flex;
  position: relative;
  padding: 1.8rem 0.8rem 0.8rem 0.8rem;
  /*   &:before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #323142;
       opacity: 0.1;
       border-radius: 1.87644rem 1.87644rem 0rem 0rem;
     }*/
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-image-container .dishes__item-heart {
  position: absolute;
  width: 21.952px;
  height: 18.189px;
  top: 15px;
  right: 22px;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container {
  display: flex;
  padding: 0 1.71rem 1.85rem 1.44rem;
  flex-direction: column;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-badge {
  display: flex;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-badge .dishes__item-badge-label {
  padding: 0.17rem 0.48rem;
  border-radius: 4.828px;
  font-family: Poppins;
  font-size: 0.71388rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-badge .dishes__item-badge-label--healthy {
  background: #F7EDD0;
  color: #DAA31A;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-badge .dishes__item-badge-label--trending {
  background: #F7C5BA;
  color: #FB471D;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-badge .dishes__item-badge-label--supreme {
  background: rgba(51, 172, 100, 0.2);
  color: #309D5B;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-title {
  color: #323142;
  font-family: Poppins;
  font-size: 1.44088rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.34144rem; /* 162.5% */
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.81rem;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-middle .dishes__item-time {
  width: 4.0525rem;
  color: #8E97A6;
  font-family: Manrope;
  font-size: 1.08069rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44088rem;
  margin-right: 0.36rem;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-middle .dishes__item-rating {
  display: flex;
  align-items: center;
  gap: 0.36rem;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-middle .dishes__item-rating .dishes__item-rating-number {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 1.08069rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44088rem;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.94rem;
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-footer .dishes__item-price {
  width: 7.20444rem;
  color: #323142;
  font-family: Manrope;
  font-size: 1.621rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.52156rem; /* 155.556% */
}
.dishes .dishes__container .dishes__menu .dishes__item .dishes__item-content-container .dishes__item-footer img {
  cursor: pointer;
  width: 2.73938rem;
  height: 2.48256rem;
}
.dishes .dishes__container .dishes__button {
  display: flex;
  align-self: flex-end;
}
.dishes .dishes__container .dishes__button .dishes__button-title {
  display: flex;
  align-items: center;
  color: #ACADB9;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.824rem; /* 225.921% */
  letter-spacing: -0.00625rem;
}
.dishes .dishes__container .dishes__button .dishes__button-title svg {
  margin-left: 0.8rem;
}

.dashboards {
  padding-top: 6.25rem;
}
.dashboards .dashboards__container {
  display: flex;
  border-bottom: 2px solid #CBCBCB;
  padding-bottom: 8.41rem;
  border-bottom: 2px solid #CBCBCB;
  justify-content: space-between;
}
.dashboards .dashboards__container .dashboards__purchases {
  display: flex;
  flex-direction: column;
  width: 34.98181rem;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-title {
  color: #18181B;
  font-family: Poppins;
  font-size: 3.18269rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.63738rem; /* 114.286% */
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item {
  display: flex;
  width: 21.57313rem;
  padding: 0.25rem 1.08rem 0.26rem 1.07rem;
  border-radius: 0.75256rem;
  background: #FFF;
  gap: 1.19rem;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item .dashboards__item-image {
  display: flex;
  width: 4.51531rem;
  height: 4.578rem;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content {
  display: flex;
  flex-direction: column;
  gap: 0.26rem;
  width: 70%;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content .dashboards__item-title {
  color: #323142;
  font-family: Poppins;
  font-size: 1.19156rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.66813rem */
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content .dashboards__item-status {
  color: #323142;
  font-family: Poppins;
  font-size: 0.75256rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.05356rem */
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content .delivered {
  color: #309D5B;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content .cancelled {
  color: #F1534E;
}
.dashboards .dashboards__container .dashboards__purchases .dashboards__purchases-menu .dashboards__item-content .dashboards__item-time {
  color: #ACADB9;
  font-family: Poppins;
  font-size: 0.81525rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.14138rem */
  align-self: flex-end;
}
.dashboards .dashboards__container .dashboards__expenses {
  width: 33.375rem;
  border-radius: 1.57056rem;
  border: 1.571px solid #EDF2F7;
  background: #FFF;
  padding: 2.36rem 2.36rem 2.85rem 2.36rem;
  box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
}
.dashboards .dashboards__container .dashboards__expenses .expanses__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.83rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__menu .menu-tile {
  color: #1A202C;
  font-family: Manrope;
  font-size: 1.76694rem;
  font-style: normal;
  font-weight: 800;
  line-height: 135%; /* 2.38531rem */
  letter-spacing: 0.01963rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__menu .menu-select {
  position: relative;
  display: flex;
  width: 10.99413rem;
  height: 3.3375rem;
  padding: 0.78531rem 1.17794rem;
  flex-shrink: 0;
  border-radius: 0.78531rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #1A202C;
  font-family: Manrope;
  font-size: 1.17794rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.76694rem */
  letter-spacing: 0.03925rem;
  background: #FAFAFA url("/style/components/dashboards/down-arrow.svg") no-repeat 92% center;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu {
  display: flex;
  flex-direction: column;
  gap: 1.37rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item {
  display: flex;
  padding: 1.57rem;
  border-radius: 1.17794rem;
  border: 1.571px solid #EDF2F7;
  /*    &:after{
        content: " ";
        width: 25.52206rem;
        height: 0.589rem;
        border-radius: 4.90806rem;
        opacity: 0.2;
        background: #6C5FBC;
        border: 1px solid red;
      }*/
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item .expanses__item-image {
  margin-right: 1.18rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item .expanses__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item .expanses__item-content .expanses__item-content-title {
  color: #1A202C;
  font-family: Manrope;
  font-size: 1.17794rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 1.76694rem */
  letter-spacing: 0.03925rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item .expanses__item-content .expanses__item-content-discount {
  color: #A0AEC0;
  font-family: Manrope;
  font-size: 0.98163rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.47244rem */
  letter-spacing: 0.03925rem;
}
.dashboards .dashboards__container .dashboards__expenses .expanses__item-menu .expanses__item .expanses__item-price {
  display: flex;
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
  color: #1A202C;
  text-align: right;
  font-family: Manrope;
  font-size: 1.37425rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 2.06138rem */
  letter-spacing: 0.01963rem;
}

.customers {
  padding-top: 7.25rem;
}
.customers .customers__container {
  display: flex;
  border-bottom: 2px solid #CBCBCB;
  padding-bottom: 11rem;
}

html {
  background: #F9F9F9;
}

/*# sourceMappingURL=style.css.map */
