.primary__button{
  display: flex;
  padding: 1.11431rem 1.67144rem;
  align-items: flex-start;
  border-radius: 1.11431rem;
  background: #6C5FBC;

  color: #F9F9F9;
  font-family: Inter;
  font-size: 1.11431rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67144rem; /* 150% */
  text-transform: capitalize;
  border: none;
}