.text-color-purple{
  color: #5C4EAE;
  font-family: Poppins;
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.1875rem;
}

.purple{
  color: #6C5FBC;
}
.gray{
  color:  #8E97A6;
  font-family: Manrope;
  font-size: 1.17538rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.52156rem;
}