.customers {
  padding-top: 7.25rem;

  .customers__container {
    @extend .container;
    display: flex;
    padding-bottom: 11rem;
    flex-direction: column;

    .customers__title{
      color: #323142;
      font-family: Poppins;
      font-size: 2.8125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.59738rem; /* 56.797% */
      margin-bottom: 5rem;
      align-self: center;
    }
    .customers__slider{
      display: flex;
      margin-bottom: 13.56rem;
      .customers__slider-item{
          /*display: flex;*/
        min-width: 33rem !important;
        margin-right: 25px;

        min-height: 340.63px;
        padding: 2.38rem 2.69rem;
        border-radius: 1.57056rem;
        border: 1.571px solid  #EDF2F7;
        background:  #FFF;
        box-shadow: 0 4px 8px 0px rgba(50, 49, 66, 0.2);


        .customers__item-header{
            display: flex;
            margin-bottom: 2rem;
            .customers__item-image{
              width: 4rem;
              border-radius: 50%;
            }
            .customers__item-text{
              display: flex;
              flex-direction: column;
              margin-left: 1rem;
              justify-content: center;
              .customers__item-head-text{
                color: #030314;
                font-family: Poppins;
                font-size: 1.30581rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.95875rem; /* 150% */
              }
              .customers__item-mid-text{
                color: #ACADB9;
                font-family: Poppins;
                font-size: 1.04469rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.63231rem; /* 156.25% */
              }
            }
            .customers__item-quote{
              width: 3.66813rem;
              margin-left: auto;
            }
          }
        .customers__item-content{
          .customers__content-text{
            width: 27.625rem;
            color: #636363;
            text-align: justify;
            font-family: Poppins;
            font-size: 1.125rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.63231rem; /* 145.094% */
            margin-bottom: 2.44rem;
          }
        }
        .customers__item-footer{
          .customers__footer-img{
            width: 8.625rem;
          }
        }
      }
    }
    .customers__banner{
      position: relative;
      padding: 1.64rem 3.2rem 2.71rem 2.93rem;
      background: #6C5FBC url('/style/components/customers/banner_background.png') ;
      border-radius: 1.33331rem;
      .banner__container{
        @extend .container;
        display: flex;
        flex-direction: column;

        .banner__title{
          display: flex;
          color: #FFF;
          text-align: center;
          font-family: Poppins;
          font-size: 3.11113rem;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          opacity: 0.8;
          margin-bottom: 7px;
        }
        .banner__form{
          position: relative;
          .banner__input{
            position: relative;
            width: 19.54369rem;
            height: 3.02225rem;
            border-radius: 0.63263rem;
            background: #FFF;
            padding: 0.99rem;
            box-shadow: 0px 5.15793px 32.23704px 0px rgba(0, 0, 0, 0.10);

            color: #878787;
            font-family: Poppins;
            font-size: 11.568px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.347px;
            text-transform: capitalize;
            border: none;
          }
          .banner__button{
            position: absolute;
            width: 5.88325rem;
            height: 2.37525rem;
            border-radius: 8.002px;
            background: #6C5FBC;
            border: 1px solid #6C5FBC;

            color: #F7F8FA;
            top: 5px;
            left: 214px;
            font-family: Poppins;
            font-size: 10.49px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.315px;
            text-transform: uppercase;
            transition: 0.3s;
            &:hover{
              color: #6C5FBC;
              background: #F7F8FA ;

            }
          }
        }
        .banner__image{
          position: absolute;
          bottom: -52.6px;
          right: 51.25px;
          width: 12.18031rem;
        }


      }
    }
  }
}


//SLICK STYLES
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0!important;
  width: 160px !important;
  height: 0.589rem !important;
  background-color: rgba(107, 95,188, 0.2);
/*  border-radius: 4.90806rem !important;*/
  border-radius: 0 !important;
  transition: background-color 0.3s;

}
.slick-dots li:first-of-type {
  border-radius: 4.90806rem 0 0 4.90806rem !important;
}

.slick-dots li:last-of-type {
  border-radius: 0 4.90806rem 4.90806rem 0 !important;
}


.slick-dots li.slick-active {
  background-color: #6C5FBC;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slick-track{
  margin-bottom: 1rem;
}
/*
.customers__slider-item.slick-slide {
  width: 570px !important;
}
*/
